.car{
    display: flex;
    flex-direction: column;
    background-color: #fbfbff;
        div{
             display: flex;
               .cside{
            display: flex;
            flex-direction: column;
            height:auto;
            width: 40vh;
            background-color: black;
            margin-top: 60px;
            height: 100vh;
           
            ul{
                margin: 40px 20px;
                color: white;
                b{
                font-size: 20px;
                    color: blue;
                    margin-left: 30px;
                }
            }
            p{
                color: white;
                margin: 10px;
                font-size: 20px;
            }
        }
        .body{
            width: 100%;
            background-color:#fbfbff;
            height:auto;
            display: flex;
            flex-direction: column;
            margin-top: 70px;
        
            h1{
                margin-top: 20px;
                font-size: 25px;
                align-self: center;
                justify-self: center;
                color: blue;
            }
            .sales{
                position: relative;
                display:grid;
                grid-template-columns: repeat(auto-fit,minmax(230px,2fr));
                grid-gap:30px;
                margin:20px;
                
                .sell{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height:auto;
                    width: 250px;
                    border: 1px solid grey;
                    background-color:#f06649;
                    border-radius:10px;
                    &:hover{
                        background:linear-gradient(to bottom,white,white,wheat);

                    }
                    img{
                        height: 180px;
                        width: 210px;
                        margin: 10px;
                       
                    }
                    p{
                       color: darkblue;
                       font-size: 20px;
                       align-self: center;
                    }
                    b{
                        font-size: 20px;
                       align-self: center;
                    }
                    i{
                        color:brown;
                        font-size: 30px;
                    }
                    .img{
                        align-self: center;
                      width: 90px; 
                      height:30px;
                      margin-top: 0;
                    }
                }
            }
    
        }

    }

  
    .bottom{
        height: 50vh;
        background-color: rgb(8, 16, 61);
        width: 100%;
        .div{
            display:flex;
            justify-content:center;
            align-items: center;
            font-size: 20px;
            color: orange;
            height:20vh;
        width: inherit;
        border-bottom: 1px solid white;
        }
    }

}